<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Review Directory</title>
</head>

<body>

<div class="container">

    <h3>Reviews</h3>
    <hr>

    <!-- Add a button -->
    <!--<a th:href="@{/api/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Movie
    </a>-->

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Reviewer Name</th>
<!--            <th>Movie Name</th>-->
            <th>Review content</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMIN')">Action</th>

            <!--<th>Length(minutes)</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>-->
        </thead>

        <tbody>
        <tr th:each="tempReview : ${reviews}">

            <td th:text="${tempReview.user.username}"/>
<!--            <td th:text="${tempReview.movie.movieName}"/>-->
            <td th:text="${tempReview.reviewContent}" />


            <td sec:authorize="hasAnyRole('ROLE_ADMIN')" >

                <!-- delete -->
                <a th:href="@{/api/delete-review(reviewId=${tempReview.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this review?'))) return false" >
                    Delete
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" href="/api/movies-directory">Back to Movies List</a>
    <a sec:authorize="hasAnyRole('ROLE_USER')" href="/api/user-movies-directory">Back to Movies List</a>

</div>

</body>
</html>


