<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Review</title>
</head>

<body>

<div class="container">

    <h3>Review Form</h3>
    <hr>

    <p class="h4 mb-4">Save Review</p>
<!--    th:object="${movie}"-->
    <form  action="#" th:action="@{/api/save-review(movieId=${movie.id})}"
          th:object="${review}"  method="POST">

        <!-- add hidden form field to handle update -->

<!--        <input type="hidden" th:field="*{id}"/>-->

         <input type="text" th:field="*{reviewContent}"
                class="form-control mb-4 col-4" placeholder="Review of Movie" required="required" pattern="[^\s][A-z0-9À-ž\s]+">




         <button type="submit" class="btn btn-info col-2">Add to this Movie</button>

     </form>

     <hr>
     <a th:href="@{/api/movies-directory}">Back to Movies List</a>

 </div>
 </body>

 </html>









