<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Review Directory</title>
</head>

<body>

<div class="container">

    <h3>Reviews</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Movie Name</th>
            <th>Review content</th>
        </thead>

        <tbody>
        <tr th:each="tempReview : ${reviews}">


            <td th:text="${tempReview.movie.movieName}"/>
            <td th:text="${tempReview.reviewContent}" />
        </tr>
        </tbody>
    </table>

    <a href="/api/movies-directory">Back to Movies List</a>

</div>

</body>
</html>


